{% extends 'blank.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'dist/css/cadastro.css' %}">
{% endblock %}

{% block content %}
<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-12">
                <h1 class="m-0 text-dark">Cadastro de colaborador</h1>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->


<!-- /.col -->
<div class="col-md-12">
    <div class="card">
        <div class="card-header p-2">
            <ul class="nav nav-pills">
                <li class="nav-item"><a class="nav-link active" href="#principal" data-toggle="tab">Obrigatórios</a></li>
                <li class="nav-item"><a class="nav-link" href="#complemento" data-toggle="tab">Complementares</a></li>
            </ul>
        </div><!-- /.card-header -->
        <div class="card-body">
            <div class="tab-content">
                <div class="active tab-pane" id="principal">
                    <!-- form start -->
                    <form role="form">
                        {% if colaborador.id %}
                            <input type="text" value="{{colaborador.id}}" name="idColaborador" style="display: none;">
                        {% endif %}
                        <div class="card-body row">
                            <div class="form-group col-md-4 col-sm-12">
                                <label for="usuario">Nome</label>
                                <input type="text" class="form-control" name="nome_colaborador" placeholder="Preencha com o nome" value="{% firstof colaborador.Nome '' %}">
                                <span style="color: red; display: none;" id="spanNome_colaborador">*Campo nome inválido</span>
                            </div>
                            <div class="form-group col-md-4 col-sm-12">
                                <label for="usuario">Usuário</label>
                                <input type="text" class="form-control" name="usuario_colaborador" placeholder="Preencha com o usuário" value="{% firstof colaborador.Usuario.username '' %}">
                                <span style="color: red; display: none;" id="spanUsuario_colaborador">*Campo usuário inválido</span>
                            </div>
                            <div class="form-group col-md-4 col-sm-12">
                                <label>Tipo de colaborador</label>
                                <select class="form-control" name="tipoColaborador_colaborador">
                                    {% for tipoColaborador, tipoColaboradorId in tiposColaborador.items %}
                                    <option {% if colaborador.TipoUsuario == tipoColaboradorId %} selected {% endif %} value="{{tipoColaboradorId}}">{{tipoColaborador}}</option>
                                    {% endfor %}
                                </select>
                              </div>
                            <div class="form-group col-md-4 col-sm-12">
                                <label for="senha">Senha</label>
                                <input type="password" class="form-control" name="senha_colaborador" placeholder="Preencha com a senha">
                                <span style="color: red; display: none;" id="spanSenha_colaborador">*Campo senha inválido</span>
                            </div>
                            <div class="form-group col-md-4 col-sm-12">
                                <label for="confirm_senha">Confirmar senha</label>
                                <input type="password" class="form-control" name="confirm_colaborador" placeholder="Confirme a senha">
                                <span style="color: red; display: none;" id="spanConfirm_colaborador">*Campo confirmar senha inválido</span>
                            </div>
                            <div class="form-group col-md-4 col-sm-12">
                                <label>Situação na empresa</label>
                                <select class="form-control" name="situacaoEmpresa_colaborador">
                                    {% for situacaoEmpresaPerda, situacaoEmpresaId in situacaoEmpresa.items %}
                                    <option {% if colaborador.SituacaoNaEmpresa == situacaoEmpresaId %} selected {% endif %} value="{{situacaoEmpresaId}}">{{situacaoEmpresaPerda}}</option>
                                    {% endfor %}
                                </select>
                              </div>
                        </div>
                        <!-- /.card-body -->
                        <div class="card-footer">
                            <button type="button" class="btn btn-success btn-salvar">Salvar alterações</button>
                        </div>
                    </form>
                </div>
                <!-- /.tab-pane -->
                <div class="tab-pane" id="complemento">
                    <!-- form start -->
                    <form role="form">
                        <div class="card-body row">
                            <div class="form-group col-md-4 col-sm-12">
                                <label for="email">Email</label>
                                <input type="email" class="form-control" name="email_colaborador" placeholder="Preencha com o email" value="{% firstof colaborador.Email '' %}">
                                <span style="color: red; display: none;" id="spanEmail_colaborador">*Campo email inválido</span>
                            </div>
                            <div class="form-group col-md-2 col-sm-12">
                                <label>Telefone</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fas fa-phone"></i></span>
                                    </div>
                                    <input type="text" class="form-control telefone_mask" name="telefone_colaborador" value="{% firstof colaborador.Telefone '' %}">
                                    <span style="color: red; display: none;" id="spanTelefone_colaborador">*Campo telefone inválido</span>
                                </div>
                                <!-- /.input group -->
                            </div>
                        </div>
                        <!-- /.card-body -->
                        <div class="card-footer">
                            <button type="button" class="btn btn-success btn-salvar">Salvar alterações</button>
                        </div>
                    </form>
                </div>
                <!-- /.tab-pane -->
            </div>
            <!-- /.tab-content -->
        </div><!-- /.card-body -->
    </div>
    <!-- /.nav-tabs-custom -->
</div>
<!-- /.col -->


{% endblock %}


{% block scripts %}
<!-- jqueryMask -->
<script src="{% static 'plugins/jqueryMask/jquery.mask.min.js' %}"></script>
<!-- Responsável pela data funcionar -->
<script src="{% static 'plugins/moment/moment.min.js' %}"></script>
<script src="{% static 'plugins/inputmask/min/jquery.inputmask.bundle.min.js' %}"></script>
<!-- Responsável pelo telefone funcionar -->
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.min.js"></script>
<!-- Arquivo geral de máscaras -->
<script src="{% static 'dist/js/mascaras.js' %}"></script>
<!-- Arquivo de funções de utilidades -->
<script src="{% static 'dist/js/utils.js' %}"></script>
<!-- Script da página -->
<script src="{% static 'dist/js/cadastrar_colaborador.js' %}"></script>
{% endblock %}