{% extends 'blank.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'dist/css/cadastro.css' %}">
{% endblock %}

{% block content %}
<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-12">
                <h1 class="m-0 text-dark">Cadastro de cliente</h1>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->


<!-- /.col -->
<div class="col-md-12">
    <div class="card">
        <div class="card-header p-2">
            <ul class="nav nav-pills">
                <li class="nav-item"><a class="nav-link active" href="#principal" data-toggle="tab">Obrigatórios</a></li>
                <li class="nav-item"><a class="nav-link" href="#complemento" data-toggle="tab">Complementares</a></li>
            </ul>
        </div><!-- /.card-header -->
        <div class="card-body">
            <div class="tab-content">
                <div class="active tab-pane" id="principal">
                    <!-- form start -->
                    <form role="form">
                        {% if cliente.id %}
                            <input type="text" value="{{cliente.id}}" name="idCliente" style="display: none;">
                        {% endif %}
                        <div class="card-body row">
                            <div class="form-group col-md-4 col-sm-12">
                                <label for="nome">Nome</label>
                                <input id="nome" type="text" class="form-control" name="nome_cliente" placeholder="Preencha com o nome" value="{% firstof cliente.Nome '' %}">
                                <span style="color: red; display: none;" id="spanNome_cliente">*Campo nome inválido</span>
                            </div>
                            <div class="form-group col-md-4 col-sm-12">
                                <label for="tipoCliente">Tipo de captação</label>
                                <select id="tipoCliente" class="form-control" name="tipoCliente_cliente">
                                    {% for tipoCliente, tipoClienteId in tiposCliente.items %}
                                    <option {% if cliente.TipoCliente == tipoClienteId %} selected {% endif %} value="{{tipoClienteId}}">{{tipoCliente}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <!-- /.card-body -->
                        <div class="card-footer">
                            <button type="button" class="btn btn-success btn-salvar">Salvar alterações</button>
                        </div>
                    </form>
                </div>
                <!-- /.tab-pane -->
                <div class="tab-pane" id="complemento">
                    <!-- form start -->
                    <form role="form">
                        <div class="card-body row">
                            <div class="form-group col-md-4 col-sm-12">
                                <label for="email">Email</label>
                                <input id="email" type="email" class="form-control" name="email_cliente" placeholder="Preencha com o email" value="{% firstof cliente.Email '' %}">
                                <span style="color: red; display: none;" id="spanEmail_cliente">*Campo email inválido</span>
                            </div>
                            <div class="form-group col-md-4 col-sm-12">
                                <label for="cpf">CPF</label>
                                <input id="cpf" type="text" class="form-control cpf_mask" name="cpf_cliente" placeholder="Preencha com o CPF" value="{% firstof cliente.Cpf '' %}" maxlength="14">
                                <span style="color: red; display: none;" id="spanCpf_cliente">*Campo CPF inválido</span>
                            </div>
                            <div class="form-group col-md-2 col-sm-12">
                                <label for="telefone">Telefone</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fas fa-phone"></i></span>
                                    </div>
                                    <input id="telefone" type="text" class="form-control telefone_mask" name="telefone_cliente" value="{% firstof cliente.Telefone '' %}">
                                    <span style="color: red; display: none;" id="spanTelefone_cliente">*Campo telefone inválido</span>
                                </div>
                                <!-- /.input group -->
                            </div>
                            <div class="form-group col-md-2 col-sm-12">
                                <label for="dataNascimento">Data de nascimento:</label>
              
                                <div class="input-group">
                                  <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                                  </div>
                                  <input id="dataNascimento" name="data_cliente" type="text" class="form-control data_mask" maxlength="10" value="{% firstof dataNascimentoString '' %}">
                                  <span style="color: red; display: none;" id="spanData_cliente">*Campo data nascimento inválido</span>
                                </div>
                                <!-- /.input group -->
                            </div>
                        </div>
                        <!-- /.card-body -->
                        <div class="card-footer">
                            <button type="button" class="btn btn-success btn-salvar">Salvar alterações</button>
                        </div>
                    </form>
                </div>
                <!-- /.tab-pane -->
            </div>
            <!-- /.tab-content -->
        </div><!-- /.card-body -->
    </div>
    <!-- /.nav-tabs-custom -->
</div>
<!-- /.col -->


{% endblock %}


{% block scripts %}
<!-- jqueryMask -->
<script src="{% static 'plugins/jqueryMask/jquery.mask.min.js' %}"></script>
<!-- Responsável pela data funcionar -->
<script src="{% static 'plugins/moment/moment.min.js' %}"></script>
<script src="{% static 'plugins/inputmask/min/jquery.inputmask.bundle.min.js' %}"></script>
<!-- Responsável pelo telefone funcionar -->
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.min.js"></script>
<!-- Arquivo geral de máscaras -->
<script src="{% static 'dist/js/mascaras.js' %}"></script>
<!-- Arquivo de funções de utilidades -->
<script src="{% static 'dist/js/utils.js' %}"></script>
<!-- Script da página -->
<script src="{% static 'dist/js/cadastrar_cliente.js' %}"></script>
{% endblock %}