{% extends 'blank.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'dist/css/cadastro.css' %}">
{% endblock %}

{% block content %}
<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-12">
                <h1 class="m-0 text-dark">Cadastro de cliente</h1>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->


<!-- /.col -->
<div class="col-md-12">
    <div class="card">
        <div class="card-header p-2">
            <ul class="nav nav-pills">
                <li class="nav-item"><a class="nav-link active" href="#principal" data-toggle="tab">Obrigatórios</a></li>
                <li class="nav-item"><a class="nav-link" href="#complemento" data-toggle="tab">Complementares</a></li>
            </ul>
        </div><!-- /.card-header -->
        <div class="card-body">
            <div class="tab-content">
                <div class="active tab-pane" id="principal">
                    <!-- form start -->
                    <form role="form">
                        <div class="card-body row">
                            <div class="form-group col-md-4 col-sm-12">
                                <label for="usuario">Nome</label>
                                <input type="text" class="form-control" name="nome_cliente" placeholder="Preencha com o nome">
                                <spna style="color: red; display: none;" id="spanNome_cliente">*Campo nome inválido</spna>
                            </div>
                            <div class="form-group col-md-4 col-sm-12">
                                <label for="usuario">Usuário</label>
                                <input type="text" class="form-control" name="usuario_cliente" placeholder="Preencha com o usuário">
                                <spna style="color: red; display: none;" id="spanUsuario_cliente">*Campo usuário inválido</spna>
                            </div>
                            <div class="form-group col-md-4 col-sm-12">
                                <label>Tipo de cliente</label>
                                <select class="form-control" name="tipoCliente_cliente">
                                  <option>cliente 1</option>
                                  <option>cliente 2</option>
                                  <option>cliente 3</option>
                                  <option>cliente 4</option>
                                  <option>cliente 5</option>
                                </select>
                              </div>
                            <div class="form-group col-md-6 col-sm-12">
                                <label for="senha">Senha</label>
                                <input type="password" class="form-control" name="senha_cliente" placeholder="Preencha com a senha">
                                <spna style="color: red; display: none;" id="spanSenha_cliente">*Campo senha inválido</spna>
                            </div>
                            <div class="form-group col-md-6 col-sm-12">
                                <label for="confirm_senha">Confirmar senha</label>
                                <input type="password" class="form-control" name="confirm_cliente" placeholder="Confirme a senha">
                                <spna style="color: red; display: none;" id="spanConfirm_cliente">*Campo confirmar senha inválido</spna>
                            </div>
                        </div>
                        <!-- /.card-body -->
                        <div class="card-footer">
                            <button type="button" class="btn btn-success btn-salvar">Salvar alterações</button>
                        </div>
                    </form>
                </div>
                <!-- /.tab-pane -->
                <div class="tab-pane" id="complemento">
                    <!-- form start -->
                    <form role="form">
                        <div class="card-body row">
                            <div class="form-group col-md-4 col-sm-12">
                                <label for="email">Email</label>
                                <input type="email" class="form-control" name="email_cliente" placeholder="Preencha com o email">
                                <spna style="color: red; display: none;" id="spanEmail_cliente">*Campo email inválido</spna>
                            </div>
                            <div class="form-group col-md-4 col-sm-12">
                                <label for="usuario">CPF</label>
                                <input type="text" class="form-control" name="cpf_cliente" placeholder="Preencha com o CPF">
                                <spna style="color: red; display: none;" id="spanCpf_cliente">*Campo CPF inválido</spna>
                            </div>
                            <div class="form-group col-md-2 col-sm-12">
                                <label>Data de nascimento</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                      <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                                    </div>
                                    <input name="data_cliente" type="text" class="form-control data_mask" maxlength="10" pattern="\([0-9]{2}\)[\s][0-9]{4}-[0-9]{4,5}">
                                </div>
                            </div>
                            <div class="form-group col-md-2 col-sm-12">
                              <label>Telefone</label>
            
                              <div class="input-group">
                                <div class="input-group-prepend">
                                  <span class="input-group-text"><i class="fas fa-phone"></i></span>
                                </div>
                                <input type="text" class="form-control telefone_mask">
                              </div>
                              <!-- /.input group -->
                            </div>
                        </div>
                        <!-- /.card-body -->
                        <div class="card-footer">
                            <button type="button" class="btn btn-success btn-salvar">Salvar alterações</button>
                        </div>
                    </form>
                </div>
                <!-- /.tab-pane -->
            </div>
            <!-- /.tab-content -->
        </div><!-- /.card-body -->
    </div>
    <!-- /.nav-tabs-custom -->
</div>
<!-- /.col -->


{% endblock %}


{% block scripts %}
<!-- jqueryMask -->
<script src="{% static 'plugins/jqueryMask/jquery.mask.min.js' %}"></script>
<!-- Responsável pela data funcionar -->
<script src="{% static 'plugins/moment/moment.min.js' %}"></script>
<script src="{% static 'plugins/inputmask/min/jquery.inputmask.bundle.min.js' %}"></script>
<!-- Responsável pelo telefone funcionar -->
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.min.js"></script>
<!-- Arquivo geral de máscaras -->
<script src="{% static 'dist/js/mascaras.js' %}"></script>
<!-- Script da página -->
<script src="{% static 'dist/js/cadastrar_cliente.js' %}"></script>
{% endblock %}